<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.rtl.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap-grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap-grid.rtl.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap-reboot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap-reboot.rtl.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap-utilities.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap-utilities.rtl.css}">
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <script th:src="@{/static/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/static/js/bootstrap.esm.js}"></script>
</head>
<body>
<div class="container-fluid">
    <header>
        <h1>Maeve Home</h1>
    </header>
    <nav class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#">홈</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">소개</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">커피사주기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">후원하기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">문의하기</a>
            </li>
        </ul>
    </nav>
    <section>
        <h1>Maeve Home</h1>
        <p>Somebody help me!</p>
    </section>
    <footer>
        <p>maeve home page contact email : maeve.woo@kakao.com</p>
    </footer>
</div>
</body>
</html>